{% extends 'layout.html' %}


{% block content %}

    <!-- traer etiquetastatic -->
    {% load static %}

    <br>
    
    
 <link rel="stylesheet" href="{% static 'style.css' %}">

    <div class="container_h p-2" >
        <div class="colum_o">
            <img src="{% static 'portfolio/foto.svg' %}">

        </div>

        <div class="colum_t">
            <div id="iconos_he" class="w-100" d-flex aling-itemns justify-content-center flex-wrap>
                <a href="https://www.linkedin.com/in/leidy-carolina-viasus-africano-877746187/" target="_blank" role="button"><i class="bi bi-linkedin"></i></a>
                <a href="https://github.com/carolinaviasus?tab=repositories" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://walink.co/e797d2" target="_blank"><i class="bi bi-whatsapp"></i></a>
            </div>

            <h1>Hola, soy</h1>
            <h1><span>Carolina </span> Viasus</h1>
            <p class="p_h"> Full_stack_devoleper </p>
            <a class="button " href="{% static 'portfolio/Cv.pdf' %}" target="_blank">Obtener CV</a>

        </div>
    </div>
{% endblock %}
 



       