{% load static %}
<link rel="stylesheet" href="{% static 'quien.css' %}">


<section id="quien_soy">
  <h3> Quien Soy? </h3>

</section>
<br>
<section id="quien_">

  <div id="project_cen">

    <div id="project_cen" class="card mb-3" style="background: #202020; 
    border: 1px solid #FFFFFF; max-width: 1000px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;">
      <div class="row g-0">
        <div class="col-md-4 d-flex align-items-center">
          <img src="/media/portfolio/images/Instutuciones.svg" alt="instituciones" class="img-fluid">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="text_quiens" style="  font-weight: 300;
            font-size: 14px; line-height: 18px;
            text-align: justify; color: #FFFFFF;"> Ingeniera Electrónica de la Universidad Industrial de Santander.
              Dispuesta a aprender nuevas tecnologías, frameworks y metodologías de trabajo. Puntual,
              responsable adaptable, autodidacta con dedicación a la resolución de problemas y
              enfocada en mis objetivos. Con habilidades de comunicación asertiva.</h4>
            <p2 class="texto_p" style="  font-weight: 250;
            font-size: 14px; line-height: 18px;
            text-align: justify; color: #FFFFFF;"> Estoy buscando una oportunidad donde pueda poner en práctica mis conocimientos y habilidades.</p2>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>