.container_h{
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;

  }
.colum_o {
    flex: 50%;
}
.colum_t {
    flex: 50%;
    text-align: center;
    align-items: center;
   
}
.colum_t h1{
    font-weight: 700;
    font-size: 38px;
    line-height: 39px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.colum_t span{
    font-weight: 700;
    font-size: 38px;
    line-height: 57px;
    letter-spacing: 0.1em;
    color: #08E0FD;
}
.colum_t .p_h {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
}
.button{
    background: #01A1A1;
    border-radius: 10px;
    text-decoration: none;
    color: #FEFEFE;
    font-weight: 700;
    padding: 6px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    
}
.button:hover {
    transition: transform 0.2s;
    transform: translateY(10%);
    background: #08c3db;
    color: #FEFEFE;
}
/* contactos */
.bg-contacto{
    position:relative;
    top:-130px;
}
#contacto{
    background-color: rgb(39, 48, 54);
    min-height: 500px;
    position: relative;
}
.footer_b{
    text-align: center;
}
#contenedor-formulario{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    max-width: 500px;
    background: #CFBDBD;
}
#iconos{
    text-align: center;
}
#iconos i{
    font-size: 30px;
    padding: 0px 20px 0px 20px;
}
footer{
    background-color: rgb(39, 48, 54);
}




/* MEDIA_QUERY PANTALLA PEQUEÑA */
@media (max-width: 767px) {
    .button{
        font-weight: 700;
        padding: 6px 10px;
        font-size: 14px;   
    }
    .bg-contacto{
        top:-110px;
    }
}
